/* app css stylesheet */

.add-outline {
  background-color: red;
}

.ie-table-fix {
  overflow: auto;
}
.ie-table-fix > table {
  table-layout: fixed;
}

.phone-height {
  height: 500px;
  padding: 0px;
  margin: 0px;
  width: 277px;
}

.phone-height-screen {
  height: 362px;
  padding-top: 10px;
  padding-left: 0px;
  margin: 0px;
}

.phone-height-input {
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.phone-input-box {
  width: 180px;
  padding: 0px;
  margin: 0px;
}

.phone-send-button {
  width: 56px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

#textMessage {
  background-color: #ffffff;
  border: 1px solid #73a7f0;
  width: 200px;
  margin-left: 22px;
  position:relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px -1px black;
  -moz-box-shadow: 0px 0px 8px -1px black;
  -webkit-box-shadow: 0px 0px 8px -1px black;
}

#textMessage p {
  padding:10px;
}

#tailShadowleft {
  background-color: transparent;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 16px;
  left: -8px;
  z-index: -10;
  box-shadow: 0px 0px 8px 1px black;
  -moz-box-shadow: 0px 0px 8px 1px black;
  -webkit-box-shadow: 0px 0px 8px 1px black;
}

#tail1left {
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #73a7f0 transparent transparent;
  position:absolute;
  top: 8px;
  left: -20px;
}

#tail2left {
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
  position:absolute;
  left: -18px;
  top: 8px;
}

#tail1right {
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent transparent  transparent #73a7f0;
  position:absolute;
  top: 8px;
  right: -20px;
}

#tail2right {
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent transparent  transparent #ffffff;
  position:absolute;
  top: 8px;
  right: -18px;
}

.opportunity-input-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.opportunity-input-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}